p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  background-color: #f5f5f9;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
}

.mainText {
  margin: 10px;
  min-height: calc(100vh - 201px);
}

.mainTextTylerHobby {
  margin: 10px;
  min-height: calc(100vh - 204px);
}

.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c539f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.footer-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c539f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.footer-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.about-us {
  text-decoration: none;
  font-size: 30px;
  font-weight: 450;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutprofile {
  text-align: center;
  height: auto;
  margin: 70px;
  min-height: calc(100vh - 312.5px);
}

.aboutprofile h1 {
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.profile {
  text-align: center;
  height: auto;
  margin: 70px;
  min-height: calc(100vh - 312.5px);
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.profile img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.profile img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.profile .profile-picture {
  background-color: #1d539f !important;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile .profile-picture .img-holder {
  display: table-cell;
  padding: 25px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 200px;
}

.homeLink {
  color: white;
  text-decoration: none;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #1d539f;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #e2a11f;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
