body{
    /*font-family: wingdings;*/
    font-family:'Courier New', Courier, monospace;
}

h4,
h1{
    font-weight: 600;
}

#button-hover:hover,
.stretched-link:hover{
    background-color:gray;
}