<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{{ title }}</title>
  </head>

  {% extends 'base.html' %}

  <body>
    {% block content %}

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <a href="{{url_for('loganwork')}}" class="homeLink">
        <div class="img-holder">
          <img src="./static/img/logan/logan.jpg" />
          <br />
          Logan Deal</a>
        </div>

        <a href="{{url_for('roywork')}}" class="homeLink">
        <div class="img-holder">
          <img src="./static/img/roy/roy.jpeg" />
          <br />
          Roy Hwang</a>
        </div>

        <a href="{{url_for('tylerwork')}}" class="homeLink">
        <div class="img-holder">
          <img src="./static/img/tyler/tyler.jpg" /> 
          Tyler Holstein</a>
          <br />
        </div>
        </a>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
