<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="/static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
  <head>
    <title>Hobbies</title>
  </head>
  <body>
    <header class="nav-bar">
        <div class="nav-content">
          <a href="/">
            <div class="nav-logo">
              <img src="/static/img/logo.svg" />
            </div>
          </a>
        </div>
      </header>
    <h3>Hobbies</h3>
    <p>    
    <div class="img-holder">
        <img src="/static/img/roy/mobileapp.webp" width="350" height="400" />
        </div>
    <h4>Building Mobile Apps:</h4>
      I love to build mobile applications that solve community issues! I love competing in Hackathons
      and working with like-minded individuals!</p>
      <br><br>

      <div class="img-holder">
        <img src="/static/img/roy/overwatch.jpeg" width="300" height="400" />
        <img src="/static/img/roy/valorant.jpeg" width="500" height="300" />
        <img src="/static/img/roy/genji.jpeg" width="300" height="300" />
      </div>
      
      <p>
        <h4>Playing PC games:</h4>
      Another activity I like doing in my free time is playing video games! My favorite games include Overwatch, Valorant, and
      Rainbow Six: Siege. I also like watching Overwatch League and VCT!
      </p>
    
    </p>
  </body>
</html>
{% extends 'base.html' %} {% block content %} {% endblock %}
