<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Roy's Portfolio Page</title>
        </head>
        <body>
            <h1>Roy's Portfolio Page</h1>
            <div class="img-holder">
                <img src="/static/img/roy.jpeg" width="200" height="200"/>
            </div>
            <h3>About Myself</h3>
            <p>Rising Sophomore at Georgetown studying Computer Science. I'm part of The Corp (The world's largest
                undergraduate nonprofit in the world) in the IT department. I'm also part of the Georgetown Fencing Club. 
            </p>

            <h3>Previous Work Experience</h3>
            <p>- JAN 2022 - CURRENT<br>
                SOFTWARE DEVELOPER
                Developed an HR-Portal used by 300+ employees of the Corp for work tasks 
                including clocking in and out, COVID-19 test submissions, orgnaization news, and 
                time clock management using Django
 
            </p>
            <h3>Activities</h3>
            <p>- OCT 2018 - FEB 2020<br>
                SALES ASSOCIATE, AMERICAN EAGLE OUTFITTERS
                Mentored new team members on registers, meeting customer needs, maximizing group performance and maintaining high satisfaction with customers.
                Maintained organized, presentable merchandise to drive continuous sales.
            </p>
            <p>- NOV 2017 - JUN 2018<br>
                RESTAURANT BUSSER, RED ROBIN INTERNATIONAL
                Collected trash, wiped up spills and removed trays to maintain customer service and satisfaction. 
                Assisted with kitchen prep work to help operations run smoothly and meet company standards.
                Completed extra cleaning work on garbage cans, racks, dry storage areas and more to keep kitchen clean.
            </p>

            <h3>Education</h3>
            <p>- EXPECTED MAY 2023 <br>
                BACHELOR OF SCIENCE, UNIVERSITY OF TEXAS AT SAN ANTONIO
                Continuing education in Computer Science
                Programming languages: Java, C, Swift, and Python.  
                Currently in ACM UTSA (January 2022 - Current)
            </p>
            <p>- JUN 2019<br>
                HIGH SCHOOL DIPLOMA, JOHN MARSHALL HARLAN HIGH SCHOOL
                Member of JROTC, the Cross-Country team, Adopt-A-Highway, and the Debate team.
                Graduated with 26 college credits from Dual Credit courses. Graduated with 3.7 GPA.
                </p>
            <h3>Hobbies</h3>
            <p>
                
            </p>
        </body>
</html>