<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{{ title }}</title>
  </head>

  {% extends 'base.html' %}
  <body>
    {% block content %}
    <h1> Timeline </h1>
    <div class="timeline-form">
        <form id="post-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="content">Post content:</label>
            <textarea class="form-control" name="content" id="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<h3>Posts</h3>
<div class="timeline">
    {% for post in timeline %}
    <div class = "post">
        <p>Date: {{post.created_at}}</p>
        <p>Name: {{post.name}}</p>
        <p>Email: {{post.email}}</p>
        <p>Content: {{post.content}}</p>
        <hr>
    </div>
    {% endfor %}   
</div>
    <script>
        const form = document.getElementById('post-form');
        form.addEventListener('submit', function(e){
            e.preventDefault()
            const payload = new FormData(form);
            fetch('/api/timeline_post', {
                method: 'POST',
                body: payload,
            })
            .then(res => res.json())
            .then(data => console.log(data))
        })
    </script>
    {% endblock %}
  </body>
  