<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hobbies</title>
  </head>
  <body>
    <header class="nav-bar">
        <div class="nav-content">
          <a href="/">
            <div class="nav-logo">
              <img src="/static/img/logo.svg" />
            </div>
          </a>
        </div>
      </header>
    <h3>Hobbies</h3>
    <p>
      I love to read comic books and manga. I have quite a collection and it's
      tons of fun diving into these stories.</p>
      <div class="img-holder">
        <img src="/static/img/tyler/taro-board.jpg" width="200" height="200" />
        <img src="/static/img/tyler/russian-board.jpg" width="200" height="200" />
        <img src="/static/img/tyler/eva-board-01.jpg" width="200" height="200" />
        <img src="/static/img/tyler/40s-board.jpg" width="200" height="200" />
      </div>
      Another cool hobby of mine is that I like to create mechanical keyboards.
      I like tinkering and building things, plus what is more important to a
      computer scientist than a keyboard?<br /><br />
      I also love watching new and exciting movies. My father and I are huge
      movie fans and have watched so many of them over the years. If you are
      looking for a classic horror movie nothing beats the original 'A Nightmare
      On Elm Street' or the third movie in the franchise. If you want a classic
      super hero movie one of my all time favorites is 'Spider-man 2', however I
      almost think 2022's 'The Batman' may be better than Spider-man 2 (Open for
      debate).
    </p>
  </body>
</html>
