<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %}
  <body>
    {% block content %}
    <div class="container">
      <h1>tyler's Portfolio</h1>
      <p class="lead">UTSA '23 - CS Major, Love doing nerd stuff</p>
      <div class="row">
        <div class="col">
            <a href="https://github.com/tdizzlefizzle1">
                <img src="static/img/github-logo.png" width="40" height="40">
            </a>
            <a href="#">
                <img src="static/img/link-logo.png" width="40" heigh="40">
            </a> 
        </div>
      </div>
    </div>
    <br />
    <div class="container my-4">
      <h4>a little about myself:</h4>
      <p>
        Energetic person with a passion for programming. I started my college
        degree at The University of Texas at San Antonio and am majoring in
        Computer Science. I enjoy reading comic books and spending time with my
        family.
      </p>
    </div>
    <div class="container my-5">
    <h4>featured Projects:</h4>
    <div class="row">
    <div class="col my-2">
      <div class="card border border-dark">
        <div class="card-body">
          <h4 class="card-title">CookieCutter</h4>
          <p class="card-text">Python program that crops comic book panels</p>
          <a href="https://github.com/tdizzlefizzle1/CookieCutter" class="btn stretched-link">
            <img src="static/img/share.png" width="40" height="40">
          </a>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="card border border-dark">
        <div class="card-body">
          <h4 class="card-title">TylerPortfolio</h4>
          <p class="card-text">Repository of full portfolio site</p>
          <a type="button" class="btn stretched-link" href="https://github.com/tdizzlefizzle1/tylerportfolio">
            <img src="static/img/share.png" width="40" height="40">
          </a>
        </div>
      </div>
    </div>
</div>    
    {% endblock %}
  </body>
</html>
